* {
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: .3s ease-in-out;
}

.gallery {
    display: grid;
}

.active {
    color: #ff5c84;
}
.active:hover {
    color: #fff;
}

body {
    background-image: url('../img/bg.jpg');
    font-family: Arial;
    text-decoration: none;
}

a {
    color: #fff;
    font-size: 19px;
}

.link {
    color: #96154a;
    transition: .3s ease-in-out;
}
.link:hover{
    color: #ff5c84;
}

.containerBody {
margin-left: 5%;
}

/* in case
@keyframes top {
    0%  {margin-left: 160px;}
    100%  {margin-left: 0px;}
}
**/

.logo {
    position: relative;
    width: 51px;
    height: auto;
    margin-right: 20%;
}

a {
    text-decoration: none;
}

h1 {
    color: #96154a;
    position: relative;
    padding-right: 290px;
    transition: 0.2s;
    white-space: nowrap;
    margin-left: 1.5%;
}

h1:hover {
    color: #ff5c84;
}

h2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40px;
}

header {
    padding: 15px;
}

.top {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    animation-name: top;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
}

.btn-1,
.btn-2 {
    margin-top: 10px;
}

.btn-1 {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    border: 0px;
}

.btn-1:hover {
    color: #ff5c84;
}

.btn-2 {
    background-color: transparent;
    border: solid 1.75px #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 150px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.btn-2:hover {
    background-color: #ff5c84;
    border-color: #ff5c84;
    color: #ffffff;
    text-align: center;
}

.row {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: 0px;
    background-color: #96154a;
    padding: 35px;
    display: block;
    display: flex;
    justify-content: space-around;
}

.row-txt {
    color: #fff;
    background-color: transparent;
    display: flex;
    justify-content: end;
    text-decoration: none;
}

.row-txt:hover {
    color: #f6abb6;
}

.layer-1,
.layer-2,
.layer-3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.layer-2,
.layer-3 {
    margin-top: 30px;
}

.block1,
.block2,
.block3 {
    height: 275px;
    width: 430px;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 15px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    position: relative;
}

.block1:hover,
.block2:hover,
.block3:hover {
    background-color: #96154a;
    border-color: #96154a;
    color: #fff;
}

.text {
    margin: 0;
    position: absolute;
    top: 67%;
    margin: 0;
    font-size: 94%;
}

.labels {
    display: flex;
    justify-content: center;
}


.previous {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    transition: .4s;
    background-color: transparent;
    border: 1.4px solid #fff;
    color: #fff;
    font-family: Arial;
    font-size: 120%;
    overflow: hidden;
    margin-left: 75%;
    text-align: center;
    width: 3%;
}

.previous:hover {
    background-color: #ff5c84;
    color: #ffffff;
    border-color: #ff5c84;
}

.round {
    border-radius: 60px;
}

li{
    color: #fff;
    transition: .3 ease-in-out;
    font-size: 18px;
    margin-left: 2%;
}

li:hover {
    color: #ff5c84;
}

@media screen and (max-width: 400px) {
    body {
        height: 60%;
        width: 90%;
    }

    body {
        display: block;
    }

    .btn-1 {
        display: none;
    }

    .layer-1,
    .layer-2,
    .layer-3 {
        display: block;
        position: relative;
        left: 6%;
        margin-top: 0px;
    }

    .block1,
    .block2,
    .block3 {
        margin-top: 15px;
    }

    .txt-question {
        max-width: 100px;
        white-space: unset;
        display: flex;
        text-align: left;
        white-space: nowrap;
        font-size: 60%;
        margin-top: 15px;
    }

    h1 {
        font-size: 130%;
        display: flex;
        margin-left: 2.5%;
    }

}

@media screen and (max-width: 395px) {
    body {
        height: 50%;
        width: 60%;
    }

    body {
        display: block;
    }

    .layer-1,
    .layer-2,
    .layer-3 {
        display: block;
        position: relative;
        left: 6%;
        margin-top: 0px;
    }

    .block1,
    .block2,
    .block3 {
        margin-top: 15px;
    }
}

.title {
    font-size: 34px;
    color: #fff;
}

.linkedinImg {
    width: 20%;
}
.behanceImg {
    width: 60%;
}
.bddImg {
    width: 80%;
}